---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Fiky Baharudin. This blog is inspired by  <a href="https://github.com/cassidoo/blahg">cassidoo</a>! <3
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
